{%extends 'base.html' %}

{%block title%}Contact Us{%endblock title%}



{%block body%}
<div class="background bg-dark">
<div class="container-fluid px-0">
<img src="\static\img\24.jpg" class="d-block w-100" alt="...">
</div>

<div class="container marketing">
<div class="row featurette my-5">
      <div class="col-md-7">
        <h2 class="featurette-heading text-white">Rajasthan <span class="text-white">It’ll blow your mind.</span></h2>
        <p class="lead text-white">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <img src="\static\img\17.jfif" class="d-block w-100" alt="...">

      </div>
    </div>

<div class="row featurette my-5">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading text-white">South Korea <span class="text-white">See for yourself.</span></h2>
        <p class="lead text-white">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="\static\img\18.jfif" class="d-block w-100" alt="...">

      </div>
    </div>

<div class="row featurette my-5">
      <div class="col-md-7">
        <h2 class="featurette-heading text-white">Baja California, Mexico. <span class="text-white">Checkmate.</span></h2>
        <p class="lead text-white">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <img src="\static\img\19.jfif" class="d-block w-100" alt="...">

      </div>
    </div>
 
<div class="row featurette my-5">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading text-white">London <span class="text-white">See for yourself.</span></h2>
        <p class="lead text-white">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <img src="\static\img\20.jfif" class="d-block w-100" alt="...">

      </div>
    </div>

<div class="row featurette my-5">
      <div class="col-md-7">
        <h2 class="featurette-heading text-white">Antigua & Barbuda. <span class="text-white">Checkmate.</span></h2>
        <p class="lead text-white">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <img src="\static\img\21.jfif" class="d-block w-100" alt="...">

      </div>
    </div>

<hr class="featurette-divider">
</div>

<footer class="page-footer bg-dark min-height-calc(100vh-211px-580x)">
  <div class="bg-success">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-12 text-center">
          <a href="#"><i class="fab fa-facebook-f text-white mx-4"></i></a>
          <a href="#"><i class="fab fa-twitter text-white mx-4"></i></a>
          <a href="#"><i class="fab fa-linkedin-in text-white mx-4"></i></a>
          <a href="#"><i class="fab fa-google-plus-g text-white mx-4"></i></a>
          <a href="#"><i class="fab fa-instagram text-white mx-4"></i></a>
        </div>
      </div>
    </div>
  </div>



<div class="container text-center text-md-left mt-5">
  <div class="row">

    <div class="col-md-3 mx-auto mb-4">
     <h6 class="text-uppercase font-weight-bold">The Provider</h6>
     <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
     <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porttitor diam nec neque facilisis, et finibus eros scelerisque. Phasellus commodo magna non ullamcorper ullamcorper. Nulla egestas elit in ante laoreet, vel suscipit neque vehicula. Integer porttitor lacus eget fermentum hendrerit.</p>
    </div>

    <div class="col-md-2 mx-auto mb-4">
     <h6 class="text-uppercase font-weight-bold">Products</h6>
     <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 85px; height: 2px">
     <ul class="list-unstyled">
     <li class="my-2"><a href="#">Student Packages</a></li>
     <li class="my-2"><a href="#">Honeymoon Packages</a></li>
     <li class="my-2"><a href="#">Family Packages</a></li>
     <li class="my-2"><a href="#">Women Special Packages</a></li>
     <li class="my-2"><a href="#">Senior Citizen Packages</a></li>
     </ul>
    </div>

   

    <div class="col-md-2 mx-auto mb-4">
     <h6 class="text-uppercase font-weight-bold">Contact</h6>
     <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 75px; height: 2px">
     <ul class="list-unstyled">
     <li class="my-2"><i class="fas fa-home"></i>Navi Mumbai, Nerul sector 5</li>
     <li class="my-2"><i class="fas fa-envelope-square"></i>myholidays@gmail.com</li>
     <li class="my-2"><i class="fas fa-phone"></i>+91 9876540321</li>
     <li class="my-2"><i class="fas fa-print"></i>+003746344985</li>
     </ul>
    </div>
  </div>
</div>

</footer>

{%endblock body%}