{%extends 'base.html' %}

{%block title%}About{%endblock title%}



{%block body%}
<div class="background bg-dark">
<div class="container-fluid px-0">
<img src="\static\img\22.jpg" class="d-block w-100" alt="...">
</div>

<div class="row mb-2 my-5">
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">World</strong>
         <p class="card-text mb-auto text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sagittis nisl sit amet mauris mollis malesuada. Donec at accumsan purus. In et sollicitudin velit, sed mollis lectus. Morbi tellus libero, auctor mollis rhoncus et, pretium in velit. Ut pretium elit sed libero venenatis venenatis. Duis vitae justo eleifend, hendrerit ex in, finibus erat.</p>
          <a href="#" class="stretched-link text-white">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="\static\img\25.jpg" class="d-block w-100" alt="...">

        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-primary">Design</strong>
          <p class="mb-auto text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sagittis nisl sit amet mauris mollis malesuada. Donec at accumsan purus. In et sollicitudin velit, sed mollis lectus. Morbi tellus libero, auctor mollis rhoncus et, pretium in velit. Ut pretium elit sed libero venenatis venenatis. Duis vitae justo eleifend, hendrerit ex in, finibus erat.</p>
          <a href="#" class="stretched-link text-white">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="\static\img\26.jpg" class="d-block w-100" alt="...">

        </div>
      </div>
    </div>
    <div class="col-md-6 my-5">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-white">World</strong>
          <p class="card-text mb-auto text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sagittis nisl sit amet mauris mollis malesuada. Donec at accumsan purus. In et sollicitudin velit, sed mollis lectus. Morbi tellus libero, auctor mollis rhoncus et, pretium in velit. Ut pretium elit sed libero venenatis venenatis. Duis vitae justo eleifend, hendrerit ex in, finibus erat.</p>
          <a href="#" class="stretched-link text-white">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="\static\img\27.jpg" class="d-block w-100" alt="...">

        </div>
      </div>
    </div>
    <div class="col-md-6 my-5">
      <div class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative">
        <div class="col p-4 d-flex flex-column position-static">
          <strong class="d-inline-block mb-2 text-white">Design</strong>
          <p class="mb-auto text-white">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam sagittis nisl sit amet mauris mollis malesuada. Donec at accumsan purus. In et sollicitudin velit, sed mollis lectus. Morbi tellus libero, auctor mollis rhoncus et, pretium in velit. Ut pretium elit sed libero venenatis venenatis. Duis vitae justo eleifend, hendrerit ex in, finibus erat.</p>
          <a href="#" class="stretched-link text-white">Continue reading</a>
        </div>
        <div class="col-auto d-none d-lg-block">
          <img src="\static\img\28.jpg" class="d-block w-100" alt="...">

        </div>
      </div>
    </div>
  </div>


<footer class="page-footer bg-dark min-height-calc(100vh-211px-580x)">
  <div class="bg-success">
    <div class="container">
      <div class="row py-4 d-flex align-items-center">
        <div class="col-md-12 text-center">
          <a href="#"><i class="fab fa-facebook-f text-white mx-4"></i></a>
          <a href="#"><i class="fab fa-twitter text-white mx-4"></i></a>
          <a href="#"><i class="fab fa-linkedin-in text-white mx-4"></i></a>
          <a href="#"><i class="fab fa-google-plus-g text-white mx-4"></i></a>
          <a href="#"><i class="fab fa-instagram text-white mx-4"></i></a>
        </div>
      </div>
    </div>
  </div>



<div class="container text-center text-md-left mt-5">
  <div class="row">

    <div class="col-md-3 mx-auto mb-4">
     <h6 class="text-uppercase font-weight-bold">The Provider</h6>
     <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 125px; height: 2px">
     <p class="mt-2">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nunc porttitor diam nec neque facilisis, et finibus eros scelerisque. Phasellus commodo magna non ullamcorper ullamcorper. Nulla egestas elit in ante laoreet, vel suscipit neque vehicula. Integer porttitor lacus eget fermentum hendrerit.</p>
    </div>

    <div class="col-md-2 mx-auto mb-4">
     <h6 class="text-uppercase font-weight-bold">Products</h6>
     <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 85px; height: 2px">
     <ul class="list-unstyled">
     <li class="my-2"><a href="#">Student Packages</a></li>
     <li class="my-2"><a href="#">Honeymoon Packages</a></li>
     <li class="my-2"><a href="#">Family Packages</a></li>
     <li class="my-2"><a href="#">Women Special Packages</a></li>
     <li class="my-2"><a href="#">Senior Citizen Packages</a></li>
     </ul>
    </div>

   

    <div class="col-md-2 mx-auto mb-4">
     <h6 class="text-uppercase font-weight-bold">Contact</h6>
     <hr class="bg-success mb-4 mt-0 d-inline-block mx-auto" style="width: 75px; height: 2px">
     <ul class="list-unstyled">
     <li class="my-2"><i class="fas fa-home"></i>Navi Mumbai, Nerul sector 5</li>
     <li class="my-2"><i class="fas fa-envelope-square"></i>myholidays@gmail.com</li>
     <li class="my-2"><i class="fas fa-phone"></i>+91 9876540321</li>
     <li class="my-2"><i class="fas fa-print"></i>+003746344985</li>
     </ul>
    </div>
  </div>
</div>

</footer>

{%endblock body%}
